body {
  margin: 0;
  font-family: Arial, sans-serif;
  color:azure;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.5);
}

code {
  font-family: Arial, sans-serif;
}
